<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= form.label :item %>
    <%= form.text_field :item, class: 'form-control' %>
  </div>

  <div class="field form-group form-check">
    <%= form.check_box :completed, class: 'form-check-input' %>
    <%= form.label :completed, class: 'from-check-label' %>
  </div>

  <div class="actions">
    <%= form.submit "Update Checklist Item", class: 'btn btn-outline-success' %>
  </div>
<% end %>
