<h1>Admin Page</h1>


<% @titles.each do |i| %>  


<table class='table table-bordered'>
  <thead>
    <tr>
      <th colspan = "3"><h3><%= i.titleize%></h3></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.where(title: i).each do |list| %>
      <%if  list.completed %>
        <tr class='table-secondary'>
          <td class="striker"><%= link_to list.item, edit_list_path(list) %></td>
          <td class="cell_btn">
          <%= form_with(model: list) do |form| %>
            <%#= form.submit " Pending ", class: 'btn btn-outline-success' %>
            <%= form.text_field :item, type: 'hidden'%>
            <%= form.check_box :completed, :checked => false, :class => 'list_checkbox'%>
          <% end %>
          </td>
          
          <td width="10%">
            <%#= link_to 'Show', list %>
            <%#= link_to list.item, edit_list_path(list) %>
            <%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <%else%>
        <tr>
          <td ><%= link_to list.item, edit_list_path(list) %></td>
          <td class="cell_btn" >
          <%= form_with(model: list) do |form| %>
            <%= form.text_field :item, type: 'hidden'%>
            <%= form.check_box :completed, :checked => true, :class => 'list_checkbox' %>
            <%#= form.submit "Complete", class: 'btn btn-outline-success' %>
          <% end %>
          </td>
          
          <td width="10%">
            <%#= link_to 'Show', list %>
            <%#= link_to 'Edit', edit_list_path(list) %>
            <%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <%end%>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'Add Checklist Item', new_list_path, class: 'btn btn-outline-secondary' %>

<br><br>
<div class="form-group" >
    <%= render 'form_index', list: @list %>
</div>
